# PAHMA/Delphi Nagios configuration
#
# contacts.cfg

########################################################################
# Contact definitions
########################################################################

# Other contacts not listed here are defined in ../common/contacts.cfg

define contact {

  alias                             Michael T. Black
  contact_name                      mtblack 
  email                             mtblack@berkeley.edu 

  host_notifications_enabled        0
  host_notification_period          24x7
  host_notification_commands        notify-by-email

  service_notifications_enabled     1
  service_notification_period       24x7
  service_notification_options      w,u,c,r
  service_notification_commands     notify-by-email

  can_submit_commands               0
}

# This contact is defined exclusively to give a user with this name
# web access to Nagios's status information; it is not used for notification.
define contact {

  alias                             PAHMA Web Access
  contact_name                      pahma-delphi-web-user
  ; 'invalid' is a reserved top-level domain we can use here as a placeholder:
  ; http://en.wikipedia.org/wiki/.invalid
  email                             example@invalid.invalid
  
  host_notifications_enabled        0
  host_notification_period          24x7
  host_notification_commands        notify-by-email

  service_notifications_enabled     0
  service_notification_commands     notify-by-email
  service_notification_period       24x7

  can_submit_commands               0
}


########################################################################
# Contact group definitions
########################################################################

define contactgroup {
  alias                   PAHMA Delphi Monitoring Administrators
  contactgroup_name       pahma-delphi-admin
  members                 aron, pschmitz, mtblack
}

define contactgroup {
  alias                   PAHMA Delphi Web interface-only users
  contactgroup_name       pahma-delphi-web-access
  members                 pahma-delphi-web-user
}